{% extends "blog/base.html" %}
{% load pagination_tags %}


{% block title_html %}
    wddoersite-idea
{% endblock %}


{% block content %}
    <h4><strong>本站目前共有{{ amount_ideas }}篇Idea：</strong></h4>
    <hr style=" height:2px;border:none;border-top:2px dotted #FAD232;" />
    {% autopaginate ideas 20 %}
        {% for idea in ideas %}
            <h4>
                <small>{{ idea.created_date|date:"Y-m-d" }} {{ idea.created_date|date:"H:i:s" }}
                <span class="glyphicon glyphicon-resize-horizontal"></span>
                <span style="color: #419641">{{ idea.tag }}</span>
                <span class="glyphicon glyphicon-resize-horizontal"></span>
                <a href="{% url "idea_detail" idea.id %}" style="text-decoration: none">{{ idea.content|truncatewords:500 }}</a></small>
            </h4>
        {% endfor %}
    {% paginate %}
{% endblock %}
