{% extends "blog/base.html" %}
{% load pagination_tags %}


{% block title_html %}
    wddoersite-idea
{% endblock %}


{% block content %}
    <p style="text-align: center">本站目前共有{{ amount_ideas }}篇Idea</p>
    <hr style=" height:2px;border:none;border-top:2px dotted #FAD232;" />
    {% autopaginate ideas 10 %}
        {% for idea in ideas %}
            <p>
                <small>{{ idea.created_date|date:"Y-m-d" }} {{ idea.created_date|date:"H:i:s" }}
                <span style="color: #419641">{{ idea.tag }}</span>
                <a href="{% url "idea_detail" idea.id %}" style="text-decoration: none">{{ idea.content|truncatewords:500 }}</a></small>
            </p>
        {% endfor %}
    {% paginate %}
    <br />
{% endblock %}
