{% extends "blog/base.html" %}
{% load pagination_tags %}


{% block title_html %}
    wddoersite-idea
{% endblock %}


{% block content %}
    {% autopaginate ideas 10 %}
        {% for idea in ideas %}
            <p>
                {{ idea.created_date|date:"Y-m-d" }} {{ idea.created_date|date:"H:i:s" }}
                <span style="color: #419641">{{ idea.tag }}</span>
                    <br />
                {{ idea.content }}
            </p>
        {% endfor %}
    {% paginate %}
    <span style="text-align: center">备注：本站目前共有{{ amount_ideas_displayed }}篇开放Idea</span>
    <a href="{% url 'idea_filter' %}" class="flo-right">Full Text Search</a><br />
    <hr />
{% endblock %}
