{% extends "blog/base.html" %}


{% block title_html %}
    {{ idea.tag }}
{% endblock %}


{% block content %}
    <p>
        {{ idea.tag }}
        <small style="font-size: 12px">{{ idea.created_date|date:"Y-m-d" }} {{ idea.created_date|date:"H:i:s" }}</small>
    </p>
    <hr style=" height:2px;border:none;border-top:2px dotted #FAD232;" />
    <div>{{ idea.content }}</div>
    <br />

    <!-- duoshuo comment div start -->
    <div class="ds-thread" data-thread-key="{{ idea.id }}" data-title="{{ idea.created_date }}" data-url="{{ idea.get_absolute_url }}"></div>
    <!-- duoshuo comment div end -->

    <script type="text/javascript">
        var duoshuoQuery = {short_name:"wddoer"};
        (function() {
            var ds = document.createElement('script');
            ds.type = 'text/javascript';ds.async = true;
            ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
            ds.charset = 'UTF-8';
            (document.getElementsByTagName('head')[0]
            || document.getElementsByTagName('body')[0]).appendChild(ds);
        })();
    </script>

{% endblock %}
