{% extends "blog/base.html" %}
{% load pagination_tags %}


{% block title_html %}
    search idea content
{% endblock %}


{% block content %}
    <form action="" method="get">
        {{ filter.form }}
        <button type="submit">搜索</button>
    </form>
    <hr />
    {% autopaginate idea_list 10 %}
        {% for idea in idea_list %}
            <p>
                {{ idea.created_date|date:"Y-m-d" }} {{ idea.created_date|date:"H:i:s" }}
                <span style="color: #419641">{{ idea.tag }}</span>
                    <br />
                {{ idea.content }}
            </p>
        {% endfor %}
    {% paginate %}
    <hr />
{% endblock %}
