
body {
    /*background: #ffffff url("../image/background-pictures.jpg");*/
    font-family: "Microsoft Yahei", Arial, Helvetica, sans-serif, "宋体";
}

@media screen and (min-device-width: 1160px) {
    .body-row {
        width: 1160px;
        margin: 0 auto;
        max-width: 100%;
    }
}

@media screen and (max-device-width: 1160px) {
    .body-row {
        margin: 0 auto;
        max-width: 100%;
    }
}

.col-4-1 {
    width: 25%;
    float: left;
}

.bg-blog {
    background-color: #1f8dd6;
    height: 10px;
}

.bg-idea {
    background-color: #FAD232;
    height: 10px;
}

.bg-stock {
    background-color: #dd514c;
    height: 10px;
}

.bg-about {
    background-color: #5eb95e;
    height: 10px;
}

.flo-right {
    float: right;
    right: 10px;
}

.pagination {
    /*display: inline-block;*/
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}

.pagination > li {
    display: inline;
}

pre {
    display: block;
    padding: 12px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #D4CDAB;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f4f4f4;
    border: 1px solid #f4f4f4;
    /*border-radius: 4px;*/
}

code {
    /*padding: 2px 4px;*/
    width: 100%;
    font-size: 100%;
    color: #62515f;
    background-color: #f4f4f4;
    /*border-radius: 4px;*/
}

img {
    max-width: 100%;
}

blockquote {
    border-left: 3px solid #D0E5F2;
    /*font-style: normal;*/
    padding: 0 0 0 8px;
    display: block;
    line-height: 22px;
    vertical-align: baseline;
    font-size: 100%;
    margin: .8em 0;
    font-style: inherit;
}

a {
    text-decoration: none;

}

a:link {
 color: rgba(31, 141, 214, 0.69); /*连接默认的颜色变化*/
}

a:hover {
 color: #1f8dd6; /*鼠标经过的颜色变化*/
}

a:visited {
 color: rgba(31, 141, 214, 0.69); /*连接访问的颜色变化*/
}

a:active {
 color: #1f8dd6; /*鼠标按下的颜色变化*/
}

footer {
     width: 100%;
    text-align: center;
}

.navbar {
    font-size: 18px;
    font-family: Courier;
    font-weight: bold;
}

.navbar > a {
    color: #000000;
}