<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'iadmin/css/pure.css' %}">
    <link rel="stylesheet" href="{% static 'iadmin/css/wddoer_blue.css' %}">
    <title>
        {% block blog_admin %}
        {% endblock %}
    </title>
</head>

<body>
    <div id="menu">
        <div class="pure-menu">
            <a class="pure-menu-heading" href="{% url 'wddoer_admin_index' %}">WDDOER</a>
            <ul class="pure-menu-list">
                {% block navbar %}{% endblock %}
            </ul>
        </div>
    </div>
    <div id="main">
        {% block content %}{% endblock %}
    </div>
    {% block wddoer_js %}{% endblock %}
    {% load staticfiles %}
    <script src="{% static 'iadmin/js/jquery-1.11.2.min.js' %}"></script>
</body>
</html>
