{% extends "iadmin/base.html" %}
{% load filter %}


{% block blog_admin %}
    wddoersite
{% endblock %}


{% block navbar %}
    <li class="pure-menu-item pure-menu-active"><a href="{% url 'category_admin_index' %}" class="pure-menu-link">Category</a></li>
    <li class="pure-menu-item"><a href="{% url 'note_admin_index' %}" class="pure-menu-link">Note</a></li>
    <li class="pure-menu-item"><a href="{% url 'user_admin_index' %}" class="pure-menu-link">User</a></li>
    <li class="pure-menu-item"><a href="{% url 'site_index' %}" class="pure-menu-link">返回首页</a></li>
{% endblock %}


{% block content %}
    <div class="pure-g">
        <div class="pure-u-1-8"><a href="{% url 'category_admin_index' %}">分类列表</a></div>
        <div class="pure-u-1-8"><a href="{% url 'category_create' %}">新增分类</a></div>
    </div>
    <hr style=" height:2px;border:none;border-top:2px dotted #1f8dd6;" />
    <div>
        <table>
            <thead>
                <tr>
                    <th>序号</th>
                    <th>分类ID</th>
                    <th>是否编辑</th>
                    <th>分类名称</th>
                    <th>Note数</th>
                    <th>创建时间</th>
                    <th>是否显示</th>
                    <th>是否删除</th>
                </tr>
            </thead>
            <tbody>
                {% for cate in category_list %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ cate.id }}</td>
                        <td><a href="{% url 'category_update' cate.id %}">Update</a></td>
                        <td>{{ cate.name }}</td>
                        <td>{{ notes_of_category|get_value:cate.id }}篇</td>
                        <td>{{ cate.created_date|date:"Y-m-d h:m:s" }}</td>
                        <td>{{ cate.is_displayed }}</td>
                        <td><a href="{% url 'category_delete' cate.id %}">Delete</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <hr style=" height:2px;border:none;border-top:2px dotted #1f8dd6;" />
    <div>
        <p>注1：点击<strong>是否编辑</strong>修改相应的分类详情</p>
        <p>注2：点击<strong>是否删除</strong>可从数据库彻底删除数据,并会删除分类下的所有文章</p>
    </div>

{% endblock %}
