{% extends "iadmin/base.html" %}


{% block blog_admin %}
    create new note
{% endblock %}


{% block navbar %}
    <li class="pure-menu-item"><a href="{% url 'category_admin_index' %}" class="pure-menu-link">Category</a></li>
    <li class="pure-menu-item pure-menu-active"><a href="{% url 'note_admin_index' %}" class="pure-menu-link">Note</a></li>
    <li class="pure-menu-item"><a href="{% url 'idea_admin_index' %}" class="pure-menu-link">Idea</a></li>
    <li class="pure-menu-item"><a href="{% url 'user_admin_index' %}" class="pure-menu-link">User</a></li>
    <li class="pure-menu-item"><a href="{% url 'site_index' %}" class="pure-menu-link">返回首页</a></li>
{% endblock %}


{% block content %}
    <div class="pure-g">
    <div class="pure-u-1-8"><a href="{% url 'note_admin_index' %}">文章列表</a></div>
    <div class="pure-u-1-8"><a href="{% url 'note_create' %}">新增文章</a></div>
    </div>
    <hr style=" height:2px;border:none;border-top:2px dotted #1f8dd6;" />
    <div>
        <form action="" method="post">{% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Create" />
        </form>
    </div>
{% endblock %}


{% block admin_js %}
    //  textarea支持tab缩进
    $("textarea").on('keydown',function(e){
        if(e.keyCode == 9){
            e.preventDefault();
            var indent = '    ';
            var start = this.selectionStart;
            var end = this.selectionEnd;
            var selected = window.getSelection().toString();
            selected = indent + selected.replace(/\n/g,'\n'+indent);
            this.value = this.value.substring(0,start) + selected + this.value.substring(end);
            this.setSelectionRange(start+indent.length,start+selected.length);
        }
    })
{% endblock %}