{% extends "iadmin/base.html" %}


{% block title_html %}
    wdsite
{% endblock %}


{% block navbar %}
    <li class="pure-menu-item"><a href="{% url 'site_index' %}" class="pure-menu-link">返回首页</a></li>
{% endblock %}


{% block content %}
    {% if user.is_authenticated %}
        <div class="pure-g">
            <div class="pure-u-7-8"></div>
            <div class="pure-u-1-8"><a href="{% url 'user_admin_index' %}">{{ user.email }}</a>已登陆</div>
        </div>
    {% endif %}
    <hr style=" height:2px;border:none;border-top:2px dotted #333333;" />
    <div>
        <form action="" method="post">{% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Login" />
        </form>
    </div>
{% endblock %}

