{% extends "blog_admin/base.html" %}


{% block title_html %}
    wdsite
{% endblock %}


{% block navbar %}
    <li class="pure-menu-item"><a href="{% url 'category_admin_index' %}" class="pure-menu-link">Category</a></li>
    <li class="pure-menu-item"><a href="{% url 'note_admin_index' %}" class="pure-menu-link">Note</a></li>
    <li class="pure-menu-item"><a href="#" class="pure-menu-link">待定</a></li>
    <li class="pure-menu-item"><a href="{% url 'site_index' %}" class="pure-menu-link">返回首页</a></li>
{% endblock %}


{% block content %}
    <br />
    <div>
        <p>文章：{{ amount_note }}篇</p>
        <p>文章分类：{{ amount_category }}种</p>
    </div>
{% endblock %}
