<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        {% load staticfiles %}
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="{% static 'blog/css/bootstrap.min.css' %}">
        <!-- Optional theme -->
        <link rel="stylesheet" href="{% static 'blog/css/bootstrap-theme.min.css' %}">
        <!-- https://github.com/icco/pygments-css % http://my.oschina.net/GivingOnenessDestiny/blog/144625 -->
        <link rel="stylesheet" href="{% static 'blog/css/wddoer_code.css' %}">
        <!-- base template file -->
        <link rel="stylesheet" href="{% static 'blog/css/wddoer_base.css' %}">
        <title>
            {% block title_html %}
            {% endblock %}
        </title>
    </head>

    <body onload="ShowTime()">
        <div class="row">
            <div class="navbar-fixed-top">
                <a href="{% url 'blog_index' %}"><div class="col-xs-3 bg-blog"></div></a>
                <a href="{% url 'idea_index' %}"><div class="col-xs-3 bg-idea"></div></a>
                <a href="{% url 'stock_index' %}"><div class="col-xs-3 bg-stock"></div></a>
                <a href="{% url 'site_about' %}"><div class="col-xs-3 bg-about"></div></a>
            </div>
            <br />
            <div class="container">
                {% block content %}{% endblock %}
            </div>
        </div>

        <h5 class="navbar-fixed-bottom">致谢
            <a href="https://www.djangoproject.com/" style="text-decoration: none">Django1.8</a>|
            <a href="http://getbootstrap.com/" style="text-decoration: none">Bootstrap3.3.4</a>|
            <a href="https://www.pythonanywhere.com/" style="text-decoration: none">pythonanywhere</a>|
            <script type="text/javascript">
                var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
                document.write(unescape("%3Cspan id='cnzz_stat_icon_1255427364'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/z_stat.php%3Fid%3D1255427364%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));
            </script>
        </h5>

        {% load staticfiles %}
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="{% static 'blog/js/jquery-1.11.2.min.js' %}"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="{% static 'blog/js/bootstrap.min.js' %}"></script>
        <!-- my js file defined by wddoer -->
        <script src="{% static 'blog/js/wddoer_base.js' %}"></script>
    </body>
</html>
