<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <title>
            {% block title_html %}
            {% endblock %}
        </title>
        {% load staticfiles %}
        <!-- https://github.com/icco/pygments-css % http://my.oschina.net/GivingOnenessDestiny/blog/144625 -->
        <link rel="stylesheet" href="{% static 'blog/css/wddoer_code.css' %}">
        <link rel="stylesheet" href="{% static 'blog/css/wddoer_base.css' %}">
        {% block extra_head %}{% endblock %}
    </head>

    <body>
        <div class="body-row">
            <div class="navbar-top">
                <a href="{% url 'blog_index' %}"><div class="col-4-1 bg-blog"></div></a>
                <a href="{% url 'idea_index' %}"><div class="col-4-1 bg-idea"></div></a>
                <a href="{% url 'stock_index' %}"><div class="col-4-1 bg-stock"></div></a>
                <a href="{% url 'site_about' %}"><div class="col-4-1 bg-about"></div></a>
            </div>
            <hr />
            <div>
                {% block content %}{% endblock %}
            </div>
        </div>

        <div style="text-align: center">
            <small>致谢
                <a href="https://www.djangoproject.com/" style="text-decoration: none">Django1.8</a>|
                <a href="https://mariadb.org/" style="text-decoration: none">MariaDB10.0</a>|
                <a href="https://www.pythonanywhere.com/" style="text-decoration: none">pythonanywhere</a>|
                <script type="text/javascript">
                    var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
                    document.write(unescape("%3Cspan id='cnzz_stat_icon_1255427364'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/z_stat.php%3Fid%3D1255427364' type='text/javascript'%3E%3C/script%3E"));
                </script>
            </small>
        </div>

        {% load staticfiles %}
        <script src="{% static 'blog/js/jquery-1.11.2.min.js' %}"></script>
        <script src="{% static 'blog/js/wddoer_base.js' %}"></script>
    </body>
</html>
