{% extends "blog/base.html" %}
{% load markdown %}


{% block title_html %}
    {{ note.title }}
{% endblock %}


{% block content %}
    <p>
        {{ note.title }}
        <small style="float: right; font-size: 12px">{{ note.created_date|date:"Y-m-d" }} {{ note.created_date|date:"H:i:s" }} <span style="color: #419641">{{ note.category }}</span></small>
    </p>
    <hr />
{#    https://github.com/trentm/python-markdown2/wiki/Extras#}
{#    <div>{{ note.content | markdown:"code-friendly, code-color: noclasses|linenos" }}</div>#}
    <div>{{ note.content | markdown:"code-friendly, code-color" }}</div>


    <p style="text-align: center; font-style: italic">欢迎留言</p>
    <hr />


    <!-- 多说评论框 start -->
    <div class="ds-thread" data-thread-key="{{ note.id }}" data-title="{{ note.title }}" data-url="{{ note.get_absolute_url }}"></div>
    <!-- 多说评论框 end -->
    <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
        <script type="text/javascript">
            var duoshuoQuery = {short_name:"wddoer"};
            (function() {
                var ds = document.createElement('script');
                ds.type = 'text/javascript';ds.async = true;
                ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
                ds.charset = 'UTF-8';
                (document.getElementsByTagName('head')[0]
                || document.getElementsByTagName('body')[0]).appendChild(ds);
            })();
        </script>
    <!-- 多说公共JS代码 end -->

    <hr />
    Category:
    {% for category in categories %}
        <a href="{% url "category_index" category.id %}" style="text-decoration: none">
            {{ category.name }}
        </a>
    {% endfor %}
    <hr />
{% endblock %}
