{% extends "blog/base.html" %}
{% load pagination_tags %}
{% block title_html %}
    搜索文章标题
{% endblock %}


{% block content %}
        <form action="" method="get">
            {{ filter.form }}
            <button type="submit" class="btn">搜索</button>
        </form>
        <hr style=" height:2px;border:none;border-top:2px dotted #1f8dd6;" />
        <div>
            {% autopaginate note_list 5 %}
                {% for note in note_list %}
                    <p>
                        <small>
                            {{ note.created_date|date:"Y-m-d" }} {{ note.created_date|date:"H:i:s" }}
                            <a href="{% url "blog_detail" note.id %}" style="text-decoration: none">{{ note.title }}</a>
                            <span style="float: right; color: #419641">{{ note.category }}</span>
                        </small>
                    </p>
                {% endfor %}
            {% paginate %}
        </div>
{% endblock %}
