{% extends "blog/base.html" %}
{% load pagination_tags %}


{% block title_html %}
    wdsite-blog
{% endblock %}


{% block content %}
    {% for category in categories %}
        <a href="{% url "category_index" category.id %}" style="text-decoration: none">
            <button class="btn">{{ category.name }}
            </button>
        </a>
    {% endfor %}
    <a href="{% url 'blog_archive' %}"  id="wddoer-2015"><button class="btn btn-success">2015</button></a>
    <div>
        {% autopaginate notes 5 %}
            {% for note in notes %}
                <h3>
                    <a href="{% url "blog_detail" note.id %}" style="text-decoration: none">{{ note.title }}</a>
                    <small id="wddoer-2015" style="font-size: 12px">{{ note.created_date|date:"Y-m-d H:m:s" }} <span style="color: #419641">{{ note.category }}</span></small>
                </h3>
                <p>{{ note.content | truncatechars:198 }} }}</p>
            {% endfor %}
        {% paginate %}
    </div>
{% endblock %}
