{% extends "blog/base.html" %}
{% load pagination_tags %}

{% block title_html %}
    wdsite-Note
{% endblock %}


{% block navbar %}
    <li class="active"><a href="{% url 'blog_index' %}">Blog</a></li>
    <li><a href="#">Book</a></li>
    <li><a href="{% url 'site_about' %}">About</a></li>
{% endblock %}


{% block content %}
    <br />
    <h4><strong>2015年共有{{ amount_notes }}篇文章：</strong></h4>
    <hr />
    {% for note in note_list %}
        <h4>
            <small>{{ note.created_date|date:"Y-m-d H:m:s" }} <span style="color: #419641">{{ note.category }}</span></small>
            <a href="{% url "blog_detail" note.id %}" style="text-decoration: none">{{ note.title }}</a>
        </h4>
    {% endfor %}

    <a href="/blog/2015"  style="text-decoration: none"><button class="btn btn-sm btn-success">2015</button></a>
{% endblock %}
