{% extends "blog/base.html" %}


{% block title_html %}
    wdsite
{% endblock %}


{% block navbar %}
    <li><a href="{% url 'indexBlog' %}">Blog</a></li>
    <li><a href="#">Book</a></li>
    <li><a href="{% url 'about' %}">About</a></li>
{% endblock %}


{% block content %}
    <div>
        <h1>Welcome</h1>
        <p>this is wddoer's site, powered by django1.8, bootstrap3 and markdown</p>
        <p><a class="btn btn-primary btn-lg" href="{% url 'indexBlog' %}" role="button">Jump To Blog</a></p>
        <p><a class="btn btn-primary btn-lg" href="/admin/" role="button">Jump To Admin</a></p>
        <p>访问时间：{{ visited_time|date:"Y-m-d H:m:s" }}</p>
        <div id="nowtime"></div>
    </div>
{% endblock %}


{% block navbarBottom %}
    <nav class="navbar-default navbar-fixed-bottom">
        <footer>
            <p><span>&copy;2015  wddoer.com</span></p>
        </footer>
    </nav>
{% endblock %}

