{% extends "blog/base.html" %}
{% load pagination_tags %}

{% block title_html %}
    wdsite-{{ cate_name }}
{% endblock %}


{% block navbar %}
    <li><a href="{% url 'indexBlog' %}">Blog</a></li>
    <li><a href="#">Book</a></li>
    <li><a href="{% url 'about' %}">About</a></li>
{% endblock %}


{% block content %}
    <br />
    {% for category in categories %}
    <a href="/blog/category/{{ category.id }}" style="text-decoration: none">
        <button class="btn btn-sm btn-info">{{ category.name }}
{#            <sup style="color: #ffffff">{{ notes|length }}</sup>#}
        </button>
    </a>
    {% endfor %}

        {% autopaginate notes 5 %}
    {% for note in notes %}
    <h2><a href="/blog/note/{{ note.id }}/" style="text-decoration: none">{{ note.title }}</a></h2>
    <small>{{ note.created_time }} <span style="color: #419641">{{ note.category }}</span></small>
    <p>{{ note.content | truncatechars:400 }}</p>
    {% endfor %}
        {% paginate %}
{% endblock %}

