{% extends "blog/base.html" %}


{% block title_html %}
    wddoersite intro
{% endblock %}

{% block content %}
    <div class="col-xs-9">
        <h3>powered by django and bootstrap</h3>
        <h4><a href="{% url "site_index" %}">Return Index</a></h4>
        <a href="https://github.com/wddoer/wddoersite"class="icon"></a>
    </div>
    <div class="col-xs-3">
        <hr style=" height:2px;border:none;border-top:2px dotted #1f8dd6;" />
        <h4>技术链接</h4>
            <ul><a href="http://www.yinwang.org/" style="text-decoration: none">当然我在扯淡</a></ul>
            <ul><a href="http://www.liaoxuefeng.com/" style="text-decoration: none">廖雪峰的官方网站</a></ul>
            <ul><a href="http://dbanotes.net/" style="text-decoration: none">DBA Notes | 闲思录</a></ul>
            <ul><a href="http://blog.codinglabs.org/" style="text-decoration: none">CodingLabs</a></ul>
            <ul><a href="http://ibruce.info/" style="text-decoration: none">Bruce Sha</a></ul>
            <ul><a href="https://www.hackerzhou.me/" style="text-decoration: none">Hackerzhou's Blog</a></ul>

        <hr style=" height:2px;border:none;border-top:2px dotted #dd514c;" />
        <h4>股票链接</h4>
            <ul><a href="http://www.liuwenwen.com/" style="text-decoration: none">刘文文股票博客</a></ul>

        <hr style=" height:2px;border:none;border-top:2px dotted #419641;" />
        <h4>生活链接</h4>
            <ul><a href="http://cnfeat.com/" style="text-decoration: none">陈素封·独立写生</a></ul>

        <hr style=" height:2px;border:none;border-top:2px dotted #ffffff;" />
        <h4>我的链接</h4>
            <ul><a href="https://github.com/wddoer" style="text-decoration: none">GitHub</a></ul>
            <ul><a href="http://www.cnblogs.com/wddoer/" style="text-decoration: none">cnBlogs</a></ul>
            <ul><a href="http://www.douban.com/people/59058684/" style="text-decoration: none">douban</a></ul>
    </div>
{% endblock %}