{% extends "blog/base.html" %}


{% block title_html %}
    wddoersite
{% endblock %}


{% block content %}
    <div>
        <h1>Welcome to wddoer.com</h1>
        <p>this is wddoer's site, powered by django1.8, bootstrap3 and markdown</p>
        <p><a class="btn btn-primary btn-lg" href="{% url 'blog_index' %}" role="button">Jump To Blog</a></p>
        <p><a class="btn btn-primary btn-lg" href="/admin/" role="button">Jump To Django Admin</a></p>
        <p><a class="btn btn-primary btn-lg" href="{% url 'wddoer_admin_index' %}" role="button">Jump To iAdmin</a></p>
        <p><a class="btn btn-primary btn-lg" href="{% url 'user_login' %}" role="button">Jump To Login Page</a></p>
        <p>访问时间：{{ visited_time }}</p>
        <div id="nowtime"></div>
    </div>
{% endblock %}
