{% extends "note/base.html" %}


{% block title_html %}
    {{ note.title }}
{% endblock %}


{% block navbar %}
    <li class="active"><a href="{% url 'indexNote' %}">Note</a></li>
    <li><a href="#">Book</a></li>
    <li><a href="{% url 'about' %}">About</a></li>
{% endblock %}


{% block content %}
    <br />
    {% for category in categories %}
    <a href="/note/category/{{ category.id }}" style="text-decoration: none">
        <button class="btn btn-sm btn-info">{{ category.name }}</button>
    </a>
    {% endfor %}

    <h2>{{ note.title }}</h2>
    <small>{{ note.pub_time }} <span style="color: #419641">{{ note.po_type }}</span></small>
    <p>{{ note.content }}</p>

    <!-- 多说评论框 start -->
    <div class="ds-thread" data-thread-key="{{ note.id }}" data-title="{{ note.title }}" data-url="{{ note.get_absolute_url }}"></div>
    <!-- 多说评论框 end -->
    <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
        <script type="text/javascript">
            var duoshuoQuery = {short_name:"wddoer"};
            (function() {
                var ds = document.createElement('script');
                ds.type = 'text/javascript';ds.async = true;
                ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
                ds.charset = 'UTF-8';
                (document.getElementsByTagName('head')[0]
                || document.getElementsByTagName('body')[0]).appendChild(ds);
            })();
        </script>
    <!-- 多说公共JS代码 end -->
{% endblock %}


