{% extends "blog/base.html" %}


{% block title_html %}
    real-time
{% endblock %}


{% block content %}
    <div style="text-align: center">
        <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0" width="918" height="600">
            <param name="wmode" value="opaque">
            <param name="movie" value="http://app.finance.ifeng.com/hq/global_ind/stock.swf">
            <param name="quality" value="high">
            <embed src="http://app.finance.ifeng.com/hq/global_ind/stock.swf" wmode="opaque" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="914" height="600"></embed>
        </object>
    </div>
    <hr />
{% endblock %}
