{% extends "stock/base_realtime.html" %}


{% block title_html %}
    real-time
{% endblock %}


{% block navbar %}
    <li><a href="{% url 'blog_index' %}">Blog</a></li>
    <li><a href="#">Book</a></li>
    <li><a href="{% url 'site_about' %}">About</a></li>
{% endblock %}


{% block content %}
    <div id="nowtime"></div>
    <hr style=" height:2px;border:none;border-top:2px dotted #dd514c;" />
    <div style="position: relative; left: 111px">
        <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0" width="918" height="600">
            <param name="wmode" value="opaque">
            <param name="movie" value="http://app.finance.ifeng.com/hq/global_ind/stock.swf">
            <param name="quality" value="high">
            <embed src="http://app.finance.ifeng.com/hq/global_ind/stock.swf" wmode="opaque" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="914" height="600"></embed>
        </object>
    </div>
{% endblock %}
